@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z63kgw');
  src:  url('fonts/icomoon.eot?z63kgw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?z63kgw') format('woff2'),
    url('fonts/icomoon.ttf?z63kgw') format('truetype'),
    url('fonts/icomoon.woff?z63kgw') format('woff'),
    url('fonts/icomoon.svg?z63kgw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sc-x .path1:before {
  content: "\e900";
  color: rgb(32, 32, 32);
}
.icon-sc-x .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(12, 12, 12);
}
.icon-weixuan-k:before {
  content: "\e902";
  color: #fff;
}
.icon-bianji:before {
  content: "\e903";
}
.icon-dise:before {
  content: "\e975";
  color: #ff5c63;
}
.icon-duihao-red:before {
  content: "\e976";
  color: #ea5a60;
}
.icon-duihao:before {
  content: "\e977";
}
.icon-fanhui:before {
  content: "\e978";
}
.icon-lajitong:before {
  content: "\e979";
}
.icon-shijianxiala:before {
  content: "\e97a";
  color: #bfbfbf;
}
.icon-shoucang2:before {
  content: "\e97c";
  color: #666;
}
.icon-sanjiao:before {
  content: "\e92e";
  color: #c063a9;
}
.icon-voucher-arrow:before {
  content: "\e938";
}
.icon-6664644:before {
  content: "\e938";
}
.icon-weixin_xin .path1:before {
  content: "\e93c";
  color: rgb(64, 160, 57);
}
.icon-weixin_xin .path2:before {
  content: "\e93d";
  margin-left: -1.5576171875em;
  color: rgb(255, 255, 255);
}
.icon-weixin_xin .path3:before {
  content: "\e9c0";
  margin-left: -1.5576171875em;
  color: rgb(255, 255, 255);
}
.icon-zhifubao_xin .path1:before {
  content: "\e94b";
  color: rgb(37, 150, 212);
}
.icon-zhifubao_xin .path2:before {
  content: "\e94c";
  margin-left: -1.5576171875em;
  color: rgb(255, 255, 255);
}
